

.navbar{
 
  height: 10vh;
  padding: 1vh 1vw;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  background-color: #333545;
}
.firstdiv{
  display:flex;
  justify-content: space-between;
  color: #FFFFFF;
  align-items: center;
  width: 62vw;
}
.seconddiv{
  display:flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  align-items: center;
  width: 30vw;
}
.firstdiv input{
  height: 70%;
  width: 50vw;
  border-radius: 5px;
}
.firstdiv h5{
  font-size: 18px;
}
.signin{
  outline: none;
  border: none;
  color: #FFFFFF;
  background-color: #F84464;
  padding:1vh 1vw;
  border-radius: 5px;
}
.bottomnavbar{ 
  height: 7vh;
  padding: 1vh 1vw;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  background-color: #2B3148;
}
.firstdivbottom li{
  list-style-type:none;
  color:#CCCCCC;
}
.firstdivbottom{
  display:flex;
  justify-content: space-between;
  color: #FFFFFF;
  align-items: center;
  width: 35vw;
}
.seconddivbottom li{
  list-style-type: none;
}
.seconddivbottom{
  display:flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  align-items: center;
  width: 30vw;
}
.imagelinks img{
  width:10vw;
  margin-right: 2vw;
}
.imagelinks{
  display: flex;
  justify-content: space-evenly;
}
.scrollimageslinks{
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 2vw;
  overflow-x: scroll;
position: relative;
}
.scrollimageslinks img{
  width:100vw;
  margin:2vh 2vw;
}
.movieimagelinks img{
  width:15vw;
  margin-right: 5vw;
}
.movieimagelinks{
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
}
.leftarrow{
  position: absolute;
  left: 0;
}
.leftarrow{
  position: absolute;
  right: 0;
}
.scrollimage{
  display: none;
  margin-right: 40vw;
}
.seeimage{
  display: block;
}
.numbers{
  display: flex;
  flex-wrap: wrap;
}
.number{
  margin-right: 10vw;
  text-align: center;
  width: 15vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
